/*VPDbURL{file:///C|/DATA/Projects/wdbdart45.vpp}*/
H1	 {
			Font-Family : Arial, Helvetica, san serif;
			Font-Size : Large
		}
H2	 {
			Font-Family : Arial, Helvetica, san serif ;
			Font-Size : Medium
		}
H3	 {
			Font-Family : Arial, Helvetica, san serif ;
			Font-Size : Small
		}
H4	 {
			Font-Family : Arial, Helvetica, san serif ;
			Font-Size : Small
		}
H5	 {
			Font-Family : Arial, Helvetica, san serif ;
			Font-Size : Small
		}
H6	 {

			Font-Size : Small
		}
